<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "Crucible Party Stash",
  "operatingSystem": "Foundry VTT v14+",
  "applicationCategory": "GameApplication",
  "url": "https://ebonhawk3829.github.io/crucible-party-stash/",
  "author": {
    "@type": "Person",
    "name": "Ebonhawk3829"
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "description": "A shared party inventory module for the Crucible game system in Foundry Virtual Tabletop that adds a stash tab for pooling items and distributing loot."
}
</script>